@keyframes showEmojis {
  from {
    right: -12%;
    background-color: transparent;
    border: transparent;
    overflow-y: hidden;
  }

  to {
    right: 1%;
    background-color: rgba(255, 255, 255, 0.3);
    border: black;
    overflow-y: auto;
  }
}

@keyframes hideEmojis {
  from {
    right: 1%;
    background-color: rgba(255, 255, 255, 0.3);
    border: black;
    overflow-y: auto;
  }

  to {
    right: -12%;
    background-color: transparent;
    border: transparent;
    overflow-y: hidden;
  }
}

html, body {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgb(116, 116, 116);
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

main {
  position: absolute;
  width: 100%;
  height: 100%;
}

.talks {
  position: absolute;
  display: block;
  width: 16%;
  height: 82%;
  bottom: 8%;
  left: 0;
  overflow-y: auto;
  background-color: rgb(34, 34, 49);
  border: 0;
}

.talks * {
  position: relative;
  width: 100%;
  max-height: 20%;
}

.talks *:hover {
  background-color: lightgray;
}

.profile {
  position: absolute;
  display: flex;
  width: 16%;
  height: 10%;
  top: 0;
  left: 0;
  background-color: rgb(44, 44, 56);
  border: 0;
}

.contacts-open {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 16%;
  height: 8%;
  background-color: rgb(44, 44, 56);
  color: white;
  border: 0;
  font: Helvetica;
  font-size: large;
  transition: transform 300ms;
}

.contacts-open:hover {
  background-color: rgb(48, 48, 61);  
}

.contacts-open:active {
  transform: translateY(calc(-92% * 12.5));
}

.messages {
  position: absolute;
  display: inline-block;
  right: 0px;
  top: 0px;
  width: 83%;
  height: 94%;
  background: transparent;
  overflow-y: auto;
}

.message {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 5;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  min-height: 30px;
  background: rgba(200, 200, 200, 0.6);
  border: 0;
  transition: 200ms;
}

.bottom-bar {
  position: absolute;
  display: flex;
  width: 84%;
  height: 5%;
  right: 0;
  bottom: 1%;
  background: transparent;
  justify-content: center;
  align-items: center;
}

.input-message {
  position: relative;
  margin-right: 2.5%;
  width: 78%;
  height: 92%;
  border: 0;
  border-radius: 12px;
  background-color: rgb(13, 42, 80);
  font: normal Helvetica;
  font-size: 95%;
  text-align: justify;
  outline: none;
  color: white;
}

.input-message::placeholder {
  color: white;
}

.input-message::ms-placeholder {
  color: white;
}

.emojis-on-off {
  position: relative;
  margin-right: 2%;
  height: 100%;
  width: 2.5vw;
  background-color: transparent;
  border: 0;
  font: normal Helvetica;
  font-size: 100%;
  transition: 180ms;
}

.emojis-on-off:hover {
  transform: scale(1.2);
}

.send {
  position: relative;
  display: flex;
  width: auto;
  height: 70%;
  background-color: rgb(38, 107, 153);
  font: Helvetica;
  font-size: 85%;
  color: white;
  border: 0;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: 180ms;
}

.send:hover {
  background-color: rgb(45, 119, 168);
}

.emojis {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0.2;
  right: -12%;
  bottom: 6%;
  width: 12%;
  height: 18%;
  overflow: hidden;
  background: transparent;
  animation: 350ms forwards ease-in-out;
  z-index: 0;
}

.emojis * {
  position: relative;
  margin: 5px;
  width: 26px;
  height: 26px;
  border: 0;
  user-select: none;
  border-radius: 50%;
  background-color: transparent;
  transition: 250ms;
  text-align: center;
  font-size: large;
}