<!DOCTYPE html>
<html>

<head>
    <title>Jingle</title>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../style/loading.css">
</head>

<body>
    <div class="container">
        <img class="icon" id="icon" src="../background_less.png" alt="icon">
        <h1 class="title">Jingle</h1>

        <div class="balls" id="balls">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="../scripts/loading.script.js"></script>
</body>

</html>
