<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../style/options.css">
</head>

<body>
    <a id="optsCloseMsg">Para fechar, aperte <strong>esc</strong>.</a>

    <div class="opts_list">
        <br>

        <button class="opt">Perfil e status</button> <br>
        <button class="opt">Conta</button> <br>
        <button class="opt">Segurança e IA</button> <br>
        <button class="opt">Tema e personalização</button> <br>
        <button class="opt">Som e notificações</button> <br>
        <button class="opt">Créditos</button> <br>
        <button id="closeOptions">Fechar</button>
    </div>

    <div id="options_frame" class="options_frame"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="../scripts/options.script.js"></script>
</body>

</html>